.combinedClasses-custom  .rdp-months {
    background-color: #f5f5f5;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 05px;
    border-radius: 8px;
    margin-left: -18px;
    display: flex;
    justify-content: center;
}

.combinedClasses-custom .rdp-day_selected{
    background-color: gray;
    border-radius: 0 ;
}


.combinedClasses-custom .rdp-button_reset {
    margin: 2px  6px ;
}


.orange .rdp-day_selected{
    background-color: orange;
}
