
.rdp-months{
    font-family: "Roboto";
    background-color: #f5f5f5;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: -20px;
    
}
.rdp-caption{
    width: 100%;
}
.rdp-head_cell{
width: 100%;
padding: 40px !important;
}
.rdp-button_reset {
    margin: 5px;
}
.rdp-month {
width: 100%;}