.rdp-months {
    background-color: #f5f5f5;
    margin-left: -20px;
    margin-top: -15px;
    padding-left: 30px;
    border-radius: 8px;
}
.rdp{
    width: 90%;

}
.rdp-button_reset {
    padding: 20px;
}
.rdp-cell {
    /* padding: 10px 20px !important; */
}