.customGeoSearch .leaflet-marker-shadow {
    display: none;
}

@media (min-width: 1536px) {
    .customGeoSearch .leaflet-control-zoom {
        margin-top: 20px;
    }
}


.PhoneInputInput {
    width: 41vw;
    outline: none;
}

.PhoneInput:hover {
    border-color: #4096FF;
}

.PhoneInput {
    outline: none;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    border: 1px solid #cdcdcd;
}

@media (max-width: 760) {
    .PhoneInputInput {
        width: 100vw !important;
    }
}
