.custom-ok-button{
    background-color: #1890ff;
    border-color: #1890ff;
    color: #fff;
}



.myTable .ant-table-thead > tr > th{
    /* background-color: #4D5AAA; */
    background-color: #DEB666;
    color: #050505;
}
.myTable .ant-table-tbody > tr > td{
    
    background-color: #F8F8F8;
    color: #000;
}

.myTable .ant-table-container .ant-table-content table .ant-table-thead tr th:first-child{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.myTable .ant-table-container .ant-table-content table .ant-table-thead tr th:last-child{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ant-select-selector{
    border-radius: 0px !important;
    height: 50px !important;
}


